.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: linear-gradient(to right, #f5faff, #ffffff); */
  background-color: hsla(218, 100%, 95%, 1);
  padding: 2rem;
  flex-wrap: wrap;
  height: 542px;
}
.imageContainer{
  overflow: hidden !important;
  /* width: 302px; */
  height: 503px;
}
.imageContainer img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin: 1rem;
}

.textContainer {
  max-width: 400px;
  text-align: left;
  margin: 1rem;
}

.heading {
  margin-bottom: 0.5rem;
  font-family: Poppins;
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 67px !important;
  letter-spacing: 0%;
  vertical-align: middle;
  color: hsla(218, 62%, 28%, 1);

}

.highlight {
  color: #1976d2;
  font-family: Poppins;
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 67px !important;
  letter-spacing: 0%;
  vertical-align: middle;

}

.subtext {
  margin-bottom: 1rem;
  color: #555;
}

.inputRow {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.phoneInput {
  flex: 1;
}

.smsButton {
  white-space: nowrap;
  color: white !important;
  border-radius: 8px !important;
  text-decoration: none !important;
  text-transform: none !important;
  background-color: var(--primary-color) !important;
}

.storeBadges {
  display: flex;
  gap: 1rem;
}

.storeBadges img {
  width: 224px;
  height: 69px;
  cursor: pointer;
}
